page-login {

  font-family: 'Montserrat-Regular';

  text-align: center;
  background-image: url('../assets/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    margin-top: 120px !important;
    margin-bottom: 90px !important;
  }

  form {
    background: rgba(0,0,0,0.4);
  }

  .label-md[stacked] {
      color: white;
    }

  .input-has-focus {
    color: white;

    .label-md[stacked] {
      color: white;
    }
  }

  .input-has-focus .item-inner {
    border-bottom-color: white!important;
    box-shadow: none!important;
  }

   .content-md {
     background: rgba(200,100,100, 0.4);
   }

  .item-md {
    margin-top: 10px;
    background-color: transparent;
    color: white;
  }

  // ion-footer {
  //   padding: 15.5px;
  //   bottom: 14rem;

  //   .button-block-md {
  //     height: 5.5rem;
  //     background-color: #e72c56;
  //     font-weight: bold;
  //     font-size: 19px;

  //     &:hover {
  //       background-color: #CC0735 !important;
  //     }
  //   }
  // }

  // .footer-md:before {
  //   width: 0;
  // }
}
