<ion-header>

  <ion-navbar>
    <ion-grid text-center>
      <ion-row>
        <ion-col text-left>
          <button ion-button icon-only menuToggle color="light">
            <ion-icon name="ios-card"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          PayForce
        </ion-col>
        <ion-col text-right>
          <button ion-button icon-only clear color="light">
            <ion-icon name="settings"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="saldo" text-center>
          <label>Saldo</label>
          <div>R$ {{user.valor}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="extrato">
        Extrato
      </ion-segment-button>
      <ion-segment-button value="resumo">
        Resumo
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content>
  <span *ngIf="type === 'extrato'">
    <ion-list>
      <ion-list-header>
        Hoje
      </ion-list-header>

      <ion-item *ngFor="let item of user.movimentos">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="time">{{item.data | date: 'H:m'}}</div>
              <h2>{{item.descricao}}</h2>
              <p>{{item.categoria}}</p>
            </ion-col>
            <ion-col text-right>
              <span class="price">R$ {{item.valor.toFixed(2).replace(".", ",")}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </span>
</ion-content>
