<ion-header>

  <ion-navbar>
    <ion-grid text-center>
      <ion-row>
        <ion-col text-left>
          <button ion-button icon-only menuToggle color="light">
            <ion-icon name="ios-card"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <img src="assets/images/logo_test1_negativo.png"/>
        </ion-col>
        <ion-col text-right>
          <button ion-button icon-only clear color="light" small (click)="onLogoutClick()">
            <ion-icon name="exit"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="saldo" text-center>
          <label>Saldo</label>
          <div>R$ {{user.valor}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="resumo">
        Resumo
      </ion-segment-button>
      <ion-segment-button value="extrato">
        Extrato
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content>
  <span *ngIf="type === 'resumo'">
    <ion-list>
      <ion-list-header>
        Hoje
      </ion-list-header>

      <ion-item *ngFor="let item of user.movimentos">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="time">{{item.data | date: 'H:m'}}</div>
              <h2>{{item.descricao}}</h2>
              <p>{{item.categoria}}</p>
            </ion-col>
            <ion-col text-right>
              <span class="price">R$ {{item.valor.toFixed(2).replace(".", ",")}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </span>
  <span *ngIf="type === 'extrato'">
    <ion-list>
      <ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              10/12/2016
            </ion-col>
            <ion-col text-right>
              <span>R$ 500,00</span>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-list-header>

      <ion-item style="height:180px">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p>Padaria</p>
            </ion-col>
            <ion-col text-right>
              <span>R$ -10,00</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Rodoviária</p>
            </ion-col>
            <ion-col text-right>
              <span>R$ -32,00</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Refeição</p>
            </ion-col>
            <ion-col text-right>
              <span>R$ -16,50</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Supermercado</p>
            </ion-col>
            <ion-col text-right>
              <span> R$ -230,00</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              09/12/2016
            </ion-col>
            <ion-col text-right>
              <span>R$ 788,50</span>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-list-header>

      <ion-item style="height:180px">
        <ion-grid>
          <ion-row style="color:blue">
            <ion-col>
              <p>Recarga</p>
            </ion-col>
            <ion-col text-right>
              <span>R$ 500,00</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Refeição</p>
            </ion-col>
            <ion-col text-right>
              <span>R$ -32,00</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Academia</p>
            </ion-col>
            <ion-col text-right>
              <span>R$ -80,00</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Faculdade</p>
            </ion-col>
            <ion-col text-right>
              <span>R$ -230,00</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </span>
</ion-content>
